<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User Profile Details!</title>
</head>
<body>
<!--/*@thymesVar id="userProfile" type="spring.assignment.userprofile.model.UserProfile"*/-->
<h1 th:text="${userProfile.firstName}"></h1>
<h1 th:text="${userProfile.lastName}"></h1>
<h1 th:text="${userProfile.address}"></h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>