<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User Profile Details!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <!--/*@thymesVar id="userProfile" type="spring.assignment.userprofile.model.UserProfile"*/-->
    <div class="row">
        <div class="col-md-3">
            <h5>FirstName:</h5>
        </div>
        <div class="col-md-3">
            <h5 th:text="${userProfile.firstName}"></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>LastName:</h5>
        </div>
        <div class="col-md-3">
            <h5 th:text="${userProfile.lastName}"></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Address:</h5>
        </div>
        <div class="col-md-3">
            <h5 th:text="${userProfile.address}"></h5>
        </div>
    </div>
    <br>
    <form th:action="@{/login/logout}" method="post" class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign out</button>
    </form>
</div>
</body>
</html>